@* @model IEnumerable<WorkingWithMultipleTable_Prod.Models.EmployeeModel> *@
@* @model IEnumerable<WorkingWithMultipleTable_Prod.Models.DepartmentModel> *@
@* @model WorkingWithMultipleTable_Prod.Models.ViewModel.EmpDepViewModel  *@
@model IEnumerable<WorkingWithMultipleTable_Prod.Models.ViewModel.EmpDepKiAllProperties>

@{
	ViewData["Title"] = "Index";
}


<div class="container">
	<h1>Index</h1>
	<div class="row">
		<div class="border">
			@* div ko center me karne ke liye offset use *@
			<table class="table">
				<thead>
					<tr>
						<th scope="col">EmpId</th>
						<th scope="col">Fname</th>
						<th scope="col">Gender</th>

						<th scope="col">DepId</th>
						<th scope="col">DepName</th>
						<th scope="col">DepCoded</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<th scope="row">@item.EmpId</th>
							<td>@item.Fname </td>
							<td>@item.Gender</td>

							<td>@item.DepId </td>
							<td>@item.DepName</td>
							<td>@item.DepCoded</td>

							@* <td>@item.Department.DepId </td> *@
							@* <td>@item.Department.DepName</td> *@
							@* <td>@item.Department.DepCoded</td> *@
							<td>
								<a asp-controller="Employee" asp-action="" asp-route-id="@item.EmpId">Edit</a>
								<a asp-controller="Employee" asp-action="" asp-route-id="@item.EmpId">Details</a>
								<a asp-controller="Employee" asp-action="" asp-route-id="@item.EmpId">Delete</a>
							</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>

